#resultados {
    background-color: aqua;
    width: 100%;
    height: 100%;
    text-align: right;
    margin-top: 45px;
    display: flex;
}
#micanvas {
    display: none;
    margin: auto;
}
#resultado{
    float: left;
}

#Aceptar{
    float: right;
}